-<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title> home page</title>
	<link rel="stylesheet" href="{%static 'home.css' %}">
    <link rel="stylesheet" href=" calender.html ">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

</head>
<body>
	<header>
		<div class="main">
			<img src="">
		</div>
		
		 <ul>
		 <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="#">About</a></li>
		 <li><a href="indexhtml2">Schedular</a></li>
		 <li><a href="#">Contact us</a></li>
		
		</ul>

		 </div>
		 <div class="title">
		 	<h1>Social Media Schedular</h1>
            <h3>Social media is addictive precisely because it gives us something which the real world lacks: it gives us immediacy, direction, a and value as an individual</h3>
		 </div>

		 	</header>

</body>
</html>