<!DOCTYPE >
<html>
    <head>
        {% load static %}
        <title>login page</title>
        <link rel="stylesheet" href="{%static 'new.css' %}">
        <link rel="stylesheet" href="home.html">
    </head>
        <body>
            <br><br><br><br><br>
            <h1>Make your own schedule </h1>
            <h1>PLEASE LOGIN HERE!!!</h1>
            <form>
                <label>
                    First Name:
                </label>
                <br>
                <input type="First Name" >
                <br><br>
                <label>
                    Last Name:
                </label>
                <br>
                <input type="Last Name" >
                <br><br>
                <label>
                    Email:
                </label>
                <br>
                <input type ="email" name="useremail" >
                <br><br>
                <label>
                    Password:
                </label>
                <br>
                <input type="password" >
                <br><br>
                <button id="userinput"><a href="indexhtml1/">Sign me up!</a></button>
               
            </form>
        </body>
    
</html>
        
